*{
    margin: 0;
    padding: 0;
}
header{
    display: flex;
    background-color: rgb(70, 48, 17);
    padding: 25px;
}
.logo{
}

nav{
    width: 50%;
    margin:auto;
    display: flex;
    flex-wrap: wrap;
    color: rgb(150, 92, 21);
    justify-content: space-around;
}